/* Chili's overrides for KitchenSync Styles */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,700|Roboto:300,400,700');

body {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

.header-container {
	height: 43px;
	background-color: #5D9732;
}

.body-container {
	margin-left: 15px;
	margin-right: 15px;
}

a {
	color: #5D9732;
}

a:hover {
	color: #5D9732;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #eee;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.green {
	color: #5D9732 !important;
}

.red {
	color: #D61F26 !important;
}

.yellow {
	color: #FFCC00 !important;
}

.lt-grey {
	color: #979797;
}

.dk-grey {
	color: #5C5C5C;
}

.all-caps {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.a-50 {
	opacity: .5;
}


.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}



/* FONT STYLES */

.nunito {
	font-family: 'Nunito', sans-serif;
}

.px-48 {
	font-size: 48px;
	line-height: 56px;
}

.px-30 {
	font-size: 30px;
	line-height: 36px;
}

.px-24 {
	font-size: 24px;
	line-height: 28px;
}

.px-20 {
	font-size: 20px;
	line-height: 24px;
}

.px-18 {
	font-size: 18px;
	line-height: 22px;
}

.px-16 {
	font-size: 16px;
	line-height: 19px;
}

.px-12 {
	font-size: 12px;
	line-height: 14px;
}

.px-10 {
	font-size: 10px;
	line-height: 12px;
}

.px-8 {
	font-size: 8px;
	line-height: 10px;
}

.w-300 {
	font-weight: 300;
}

.w-400 {
	font-weight: 400;
}

.w-500 {
	font-weight: 500;
}

.w-700 {
	font-weight: 700;
}

.ls-1 {
	letter-spacing: 1px;
}

.ls-2 {
	letter-spacing: 2px;
}

.print-sheet-link {
	text-decoration: none;
}

.print-sheet-link:hover {
	text-decoration: underline;
}

.title-buttons {
	margin-top: 20px;
}

.title-buttons .btn {
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

.navbar-green {
	background-color: #5D9732;
}

.navbar-toggle {
	color: #fff;
}

.dropdown-menu > li > a {
	color: #5D9732;
}

.navbar-collapse {
	background-color: #5D9732;
	border-top: none;
	position: absolute;
	left: 0px;
	top: 49px;
}

.btn-green {
	border-radius: 6px;
	background-color: #5D9732;
	color: #FFFFFF;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	padding-top: 12px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 3px 0 0 #537A36;
	overflow: hidden;
	width: 100%;
}

.btn-red {
	border-radius: 6px;
	background-color: #D61F26;
	color: #FFFFFF;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	padding-top: 12px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 3px 0 0 #A72019;
	overflow: hidden;
	width: 100%;
}

.btn-white {
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	background-color: #FFF;
	color: #5C5C5C;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	padding-top: 12px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 3px 0 0 #d6d6d6;
	overflow: hidden;
	width: 100%;
}

.x-button {
	width: 40px;
}

/* Margin and Padding classes (bootstrap 4 emulating) */
.mt-0, .my-0 {
	margin-top: 0px;
}

.mb-0, .my-0 {
	margin-bottom: 0px;
}

.mt-5, .my-5 {
	margin-top: 5px;
}

.mb-5, .my-5 {
	margin-bottom: 5px;
}

.mt-8, .my-8 {
	margin-top: 8px;
}

.mb-8, .my-8 {
	margin-bottom: 8px;
}

.mt-10, .my-10 {
	margin-top:10px;
}

.mb-10, .my-10 {
	margin-bottom: 10px;
}

.mt-12, .my-12 {
	margin-top:12px;
}

.mb-12, .my-12 {
	margin-bottom: 12px;
}

.mt-14, .my-14 {
	margin-top: 14px;
}

.mb-14, .my-14 {
	margin-bottom: 14px;
}

.mt-15, .my-15 {
	margin-top:15px;
}

.mb-15, .my-15 {
	margin-bottom: 18px;
}

.mt-17, .my-17 {
	margin-top: 17px;
}

.mb-17, .my-17 {
	margin-bottom: 17px;
}

.mt-19, .my-19 {
	margin-top: 19px;
}

.mb-19, .my-19 {
	margin-bottom: 17px;
}

.mt-20, .my-20 {
	margin-top:20px;
}

.mb-20, .my-20 {
	margin-bottom: 20px;
}

.ml-15, .mx-15 {
	margin-left: 15px;
}

.mr-15, .mx-15 {
	margin-right: 15px;
}

.pl-0 {
	padding-left: 0px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pr-0 {
	padding-right: 0px;
}

.pr-5 {
	padding-right: 5px;
}

.pt-5, .py-5 {
	padding-top:5px;
}

.pb-5, .py-5 {
	padding-bottom:5px;
}

.pt-10, .py-10 {
	padding-top: 10px;
}

.pb-10, .py-10 {
	padding-bottom: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.panel {
	border: 0.5px solid #CCCCCC;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(204,204,204,0.49);
}

.dashboard-icon{
	font-size: 75px;
}

/* DATATABLES STYLES */
.dt-buttons {
	display: none;
}

div.dataTables_filter {
	text-align: right;
}

th {
	border: none;
	font-family: "Nunito", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 8px;
}

tr td {
		color: #5C5C5C;	
		font-family: "Nunito", sans-serif;	
		font-size: 10px;	
		font-weight: 300;	
		line-height: 11px;
}

tr td.emphasis-column {
		color: #5D9732;	
		font-family: "Nunito", sans-serif;	
		font-size: 12px;	
		font-weight: 700;	
		line-height: 15px;
}
/* END DATATABLES STYLES */


@media (max-width: 767px){

	  .seven-cols .col-md-1,
	  .seven-cols .col-sm-1,
	  .seven-cols .col-lg-1  {
	    padding-left: 15px;
	    padding-right: 15px;
    	margin-bottom: 10px;
	}
	.nunito px-8 w-500 dk-grey all-caps {
		text-align: left;
	}
	.nunito px-18 w-300 green align-right{
		text-align: left;
	}
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
	*width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
  }

  .seven-cols .col-md-1:first-child,
  .seven-cols .col-sm-1:first-child,
  .seven-cols .col-lg-1:first-child  {
  	padding-left: 15px;
	}
  .seven-cols .col-md-1:last-child,
  .seven-cols .col-sm-1:last-child,
  .seven-cols .col-lg-1:last-child  {
  	padding-right: 15px;
	}
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/* Pull Thaw Weekly TH Styles */
.header-dk {
	background-color: #C4D79B;
	border: 1px solid #979797 !important;
	border-top: 1px solid #979797 !important;
	border-right: 1px solid #979797 !important;
	border-bottom: 1px solid #979797 !important;
}
.header-lt {
	background-color: rgba(196,215,155,0.13);
	border: 1px solid #979797 !important;
	border-top: 1px solid #979797 !important;
	border-right: 1px solid #979797 !important;
	border-bottom: 1px solid #979797 !important;
}

.dt-weekly tr:nth-child(even) td:nth-child(n+5):nth-child(even) {
    background-color: #f7f9f2;   
}

.dt-weekly tr:nth-child(even) td:nth-child(n+5):nth-child(odd) {
    background-color: #f0f3e5;   
}

.dt-weekly tr:nth-child(odd) td:nth-child(n+5):nth-child(even) {
    background-color: #ffffff;   
}

.dt-weekly tr:nth-child(odd) td:nth-child(n+5):nth-child(odd) {
    background-color: #f7f9f1;   
}

.dt-master-prep tr:nth-child(even) td:nth-child(n+9):nth-child(even) {
    background-color: #f7f9f2; 
    text-align: center;  
}

.dt-master-prep tr:nth-child(even) td:nth-child(n+9):nth-child(odd) {
    background-color: #f0f3e5;   
    text-align: center;
}

.dt-master-prep tr:nth-child(odd) td:nth-child(n+9):nth-child(even) {
    background-color: #ffffff; 
    text-align: center;  
}

.dt-master-prep tr:nth-child(odd) td:nth-child(n+9):nth-child(odd) {
    background-color: #f7f9f1;  
    text-align: center; 
}


